<h3 class="text-earth-800 pl-4 text-lg">Visible Pages</h3>
<div class="flex flex-row justify-start pl-4 mt-2">
  <input type="checkbox" class="rounded text-earth-500 p-2 mr-2 mt-1" name="services" />
  <label for="services">Services</label>
</div>
<div class="flex flex-row justify-start pl-4 mt-2">
  <input type="checkbox" class="rounded text-earth-500 p-2 mr-2 mt-1" name="schedule" />
  <label for="schedule">Schedule</label>
</div>
<div class="flex flex-row justify-start pl-4 mt-2">
  <input type="checkbox" class="rounded text-earth-500 p-2 mr-2 mt-1" name="about" />
  <label for="about">About</label>
</div>
<div class="flex flex-row justify-start pl-4 mt-2">
  <input type="checkbox" class="rounded text-earth-500 p-2 mr-2 mt-1" name="contact" />
  <label for="contact">Contact</label>
</div>

<h3 class="text-earth-800 pl-4 text-lg mt-4">Services</h3>
<div class="flex flex-col h-[150px] px-4">
  <input type="text" name="title" id="title" placeholder="Service name" class="my-2 rounded-md">
  <textarea name="description" id="description" cols="30" rows="10" placeholder="Service description..." class="rounded-md"></textarea>
</div>
