<section class="header relative pt-8 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Services for You - A full suite of work you need.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          This is a highlight of my company and should be a brief catchphrase of what I have to offer.
          Please provide a small amount of information to your customers.
        </p>
        <div class="mt-12">
          <a
            target="_blank"
            class="text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-heat-600 active:bg-heat-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Services </a
          ><a
            target="_blank"
            class="ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-chill-700 active:bg-chill-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </div>
  <img
    src="https://images.pexels.com/photos/3680959/pexels-photo-3680959.jpeg?cs=srgb&dl=pexels-aleksey-3680959.jpg&fm=jpg"
    alt="..."
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
  />
</section>
